language-translator-node-red-flow.json
[
    {
        "id": "7eb6289.0430ed8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f8c1971.f4f0868",
        "type": "change",
        "z": "7eb6289.0430ed8",
        "name": "Pass the recorded transcript to Conversation",
        "rules": [
            {
                "t": "set",
                "p": "params.session_id",
                "pt": "msg",
                "to": "session",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "chatstart",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 240,
        "wires": [
            [
                "d2ef4599.e24a08",
                "73bdd243.38b09c"
            ]
        ]
    },
    {
        "id": "11b9cf5e.8f7561",
        "type": "debug",
        "z": "7eb6289.0430ed8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1170,
        "y": 100,
        "wires": []
    },
    {
        "id": "d2ef4599.e24a08",
        "type": "function",
        "z": "7eb6289.0430ed8",
        "name": "Build Chat table",
        "func": "var chathistory = flow.get(\"history\")||[];\nvar chatstart = flow.get(\"chatstart\");\nvar who;\n\nif( typeof(chatstart) == 'undefined' ) { chatstart = true ; }\nif(chatstart===true) {\n    who = \"Q\";\n} else {\n    who = \"A\";\n}\n\n\n\nvar newchatentry = {\"who\":\"\",\"text\":\"\"};\nif( chathistory.length === 0 ) {\n    // First chat, init the table\n    newchatentry = {\"who\":\"A\",\"text\":\"ہیلو ، میں متحدہ عرب امارات کے لئے آپ کا ورچوئل اسسٹنٹ ہوں ، تازہ ترین معلومات کے ساتھ کورونا وائرس سے متعلق آپ کے سوالات کے جوابات دینے کے لئے تیار ہوں۔ میں آپ کی کیسے مدد کر سکتا ہوں؟\"};\n\n    // Add the question, if its not a Clear Chat button press\n    if( msg.payload.length ) { \n        chathistory.push(newchatentry);\n        newchatentry = {\"who\":\"Q\",\"text\":msg.payload}; \n    }\n} else {\n    newchatentry = {\"who\":who,\"text\":msg.payload};\n}\nchathistory.push(newchatentry);\n\nmsg.payload=\"<style>\";\nmsg.payload=msg.payload+\"table { width: 388px; margin-top: 10px;}\";\nmsg.payload=msg.payload+\"tr:nth-child(even){background-color: #f2f2f2;}\";\nmsg.payload=msg.payload+\"th, td { padding: 8px; text-align: right;  width: 10%}\";\nmsg.payload=msg.payload+\"</style>\";\n//border-bottom: 1px solid #ddd; width: 10%;\nmsg.payload=msg.payload+\"<table id=\\\"chatbot\\\" span=100%><tr><th> چیٹ ہسٹری </th></tr>\";\nfor( i = 0; i < chathistory.length; i++ ) {\n    if( chathistory[i].who == \"Q\" ) {\n        msg.payload = msg.payload + \"<tr><td><p style=\\\"text-align:left;\\\">\"+chathistory[i].text+\"</p></td></tr>\" ;\n    } else {\n        msg.payload = msg.payload + \"<tr><td><p style=\\\"text-align:right;background-color:#f2f2f2;\\\">\" +chathistory[i].text+\"</p></td></tr>\" ;\n    }\n}\n\nmsg.payload = msg.payload + \"</table>\";\nflow.set(\"chatstart\",false);\nflow.set(\"history\",chathistory);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1080,
        "y": 380,
        "wires": [
            [
                "d6649e2a.8e864",
                "37e9e7c0.0df128"
            ]
        ]
    },
    {
        "id": "d6649e2a.8e864",
        "type": "debug",
        "z": "7eb6289.0430ed8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1270,
        "y": 380,
        "wires": []
    },
    {
        "id": "9e6b1336.232ad",
        "type": "change",
        "z": "7eb6289.0430ed8",
        "name": "delete history",
        "rules": [
            {
                "t": "delete",
                "p": "history",
                "pt": "flow"
            },
            {
                "t": "set",
                "p": "chatstart",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "session",
                "pt": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 380,
        "wires": [
            [
                "d2ef4599.e24a08"
            ]
        ]
    },
    {
        "id": "da2f3b24.66f4f8",
        "type": "watson-assistant-v2",
        "z": "7eb6289.0430ed8",
        "name": "",
        "service-endpoint": "https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/a513e694-d417-4035-a972-26d6d679c99c",
        "assistant_id": "",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "x": 950,
        "y": 160,
        "wires": [
            [
                "11b9cf5e.8f7561",
                "643c596c.c73338"
            ]
        ]
    },
    {
        "id": "23af74d0.b34e1c",
        "type": "function",
        "z": "7eb6289.0430ed8",
        "name": "Watson Conversation Reply",
        "func": "function createTextLinks(text) {\n\n  return (text || \"\").replace(\n    /([^\\S]|^)(((https?\\:\\/\\/)|(www\\.))(\\S+))/gi,\n    function(match, space, url){\n      var hyperlink = url;\n      if (!hyperlink.match('^https?:\\/\\/')) {\n        hyperlink = 'http://' + hyperlink;\n      }\n      return space + '<a href=\"' + hyperlink + '\">' + url + '</a>';\n    }\n  );\n}\n\nvar response = \"\"\n\n\nfor(i=0;i<msg.payload.output.generic.length;i++) {\n  response = response + msg.payload.output.generic[i].text ;\n}\n\nresponse = createTextLinks(response);\n\n// The news reports will have \\n, replace with breaks\nmsg.payload = response.replace(/(?:\\r\\n|\\r|\\n)/g, '<br />');\n\n\n// The news reports will have http: links. Make them \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 560,
        "wires": [
            [
                "20c479b3.67d0a6",
                "c1d477d8.bc11b8"
            ]
        ]
    },
    {
        "id": "20c479b3.67d0a6",
        "type": "debug",
        "z": "7eb6289.0430ed8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "false",
        "x": 970,
        "y": 560,
        "wires": []
    },
    {
        "id": "c88f0797.ff8798",
        "type": "ui_button",
        "z": "7eb6289.0430ed8",
        "name": "",
        "group": "e97061e2.e3f39",
        "order": 5,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Clear Chat",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 170,
        "y": 340,
        "wires": [
            [
                "9e6b1336.232ad",
                "cf737507.bdad58"
            ]
        ]
    },
    {
        "id": "37e9e7c0.0df128",
        "type": "ui_template",
        "z": "7eb6289.0430ed8",
        "group": "e97061e2.e3f39",
        "name": "Chat History",
        "order": 1,
        "width": "8",
        "height": "7",
        "format": "\n\n<div id=\"{{'my_'+$id}}\" style=\"{{'color:'+theme.base_color}}\">\n     \n     <style>table { width: 388px; margin-top: 10px;}tr:nth-child(even){background-color: #f2f2f2;}th, td { padding: 8px; text-align: right; width: 10%}</style><table id=\"chatbot\" span=100%><tr><th> چیٹ ہسٹری </th></tr><tr><td><p style=\"text-align:right;background-color:#f2f2f2;\">ہیلو ، میں متحدہ عرب امارات کے لئے آپ کا ورچوئل اسسٹنٹ ہوں ، تازہ ترین معلومات کے ساتھ کورونا وائرس سے متعلق آپ کے سوالات کے جوابات دینے کے لئے تیار ہوں۔ میں آپ کی کیسے مدد کر سکتا ہوں؟ </p></td></tr></table>\n    \n</div>\n<script>\n(function(scope) {\n  scope.$watch('msg', function(msg) {\n    if (msg) {\n      // Render the chatbot table when msg arrives\n      $(\"#my_\"+scope.$id).html(msg.payload);\n      // scroll to Bottom\n      var elmnt = document.getElementById(\"chatbot\");\n      elmnt.scrollIntoView(false);\n    }\n  });\n})(scope);\n</script>\n",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 1270,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "e5c06035.683ee",
        "type": "inject",
        "z": "7eb6289.0430ed8",
        "name": "",
        "topic": "Clear Chat",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 480,
        "wires": [
            [
                "9e6b1336.232ad"
            ]
        ]
    },
    {
        "id": "643c596c.c73338",
        "type": "switch",
        "z": "7eb6289.0430ed8",
        "name": "",
        "property": "session",
        "propertyType": "global",
        "rules": [
            {
                "t": "istype",
                "v": "undefined",
                "vt": "undefined"
            },
            {
                "t": "istype",
                "v": "string",
                "vt": "string"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1110,
        "y": 200,
        "wires": [
            [
                "36d7956f.21020a"
            ],
            [
                "23af74d0.b34e1c"
            ]
        ]
    },
    {
        "id": "36d7956f.21020a",
        "type": "function",
        "z": "7eb6289.0430ed8",
        "name": "",
        "func": "global.set('session',msg.payload.session_id);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1270,
        "y": 180,
        "wires": [
            [
                "23af74d0.b34e1c"
            ]
        ]
    },
    {
        "id": "73bdd243.38b09c",
        "type": "watson-translator",
        "z": "7eb6289.0430ed8",
        "name": "",
        "action": "translate",
        "basemodel": "ar-en",
        "domain": "general",
        "srclang": "ur",
        "destlang": "en",
        "password": "",
        "apikey": "",
        "custom": "",
        "domainhidden": "general",
        "srclanghidden": "ur",
        "destlanghidden": "en",
        "basemodelhidden": "ar-en",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "service-endpoint": "https://api.eu-gb.language-translator.watson.cloud.ibm.com/instances/06f2a496-d22e-415f-b708-c155084d5e4f",
        "x": 690,
        "y": 100,
        "wires": [
            [
                "f359256c.7328a8",
                "da2f3b24.66f4f8"
            ]
        ]
    },
    {
        "id": "f359256c.7328a8",
        "type": "debug",
        "z": "7eb6289.0430ed8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 920,
        "y": 100,
        "wires": []
    },
    {
        "id": "86083c0e.530e9",
        "type": "ui_text_input",
        "z": "7eb6289.0430ed8",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "e97061e2.e3f39",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 180,
        "y": 240,
        "wires": [
            [
                "9dc4fcd7.78bc5",
                "5e4467ee.a79158"
            ]
        ]
    },
    {
        "id": "963855c7.3cb3f8",
        "type": "debug",
        "z": "7eb6289.0430ed8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 490,
        "y": 140,
        "wires": []
    },
    {
        "id": "c0552ba1.0a3f78",
        "type": "ui_button",
        "z": "7eb6289.0430ed8",
        "name": "",
        "group": "e97061e2.e3f39",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Send",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "input",
        "payloadType": "global",
        "topic": "",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "6f87c857.4190a8"
            ]
        ]
    },
    {
        "id": "9aae7b5f.081a98",
        "type": "change",
        "z": "7eb6289.0430ed8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "text",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 320,
        "wires": [
            [
                "86083c0e.530e9"
            ]
        ]
    },
    {
        "id": "6f87c857.4190a8",
        "type": "change",
        "z": "7eb6289.0430ed8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "text",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 140,
        "wires": [
            [
                "963855c7.3cb3f8",
                "f8c1971.f4f0868"
            ]
        ]
    },
    {
        "id": "c1d477d8.bc11b8",
        "type": "watson-translator",
        "z": "7eb6289.0430ed8",
        "name": "",
        "action": "translate",
        "basemodel": "ar-en",
        "domain": "general",
        "srclang": "en",
        "destlang": "ur",
        "password": "",
        "apikey": "",
        "custom": "",
        "domainhidden": "general",
        "srclanghidden": "en",
        "destlanghidden": "ur",
        "basemodelhidden": "ar-en",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "service-endpoint": "https://api.eu-gb.language-translator.watson.cloud.ibm.com/instances/06f2a496-d22e-415f-b708-c155084d5e4f",
        "x": 850,
        "y": 480,
        "wires": [
            [
                "d2ef4599.e24a08"
            ]
        ]
    },
    {
        "id": "9dc4fcd7.78bc5",
        "type": "switch",
        "z": "7eb6289.0430ed8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 220,
        "wires": [
            [],
            [
                "9aae7b5f.081a98"
            ]
        ]
    },
    {
        "id": "5e4467ee.a79158",
        "type": "ui_template",
        "z": "7eb6289.0430ed8",
        "group": "e97061e2.e3f39",
        "name": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<style>\n.md-input {text-align:right}\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 340,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "cf737507.bdad58",
        "type": "ui_template",
        "z": "7eb6289.0430ed8",
        "group": "e97061e2.e3f39",
        "name": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<style>\n.md-input {text-align:right}\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 180,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "12bb23ca.af93fc",
        "type": "ui_text",
        "z": "7eb6289.0430ed8",
        "group": "e97061e2.e3f39",
        "order": 2,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Message:",
        "format": "",
        "layout": "row-spread",
        "x": 180,
        "y": 540,
        "wires": []
    },
    {
        "id": "e97061e2.e3f39",
        "type": "ui_group",
        "z": "",
        "name": "Chat",
        "tab": "b0e51e04.b94fb",
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "b0e51e04.b94fb",
        "type": "ui_tab",
        "z": "",
        "name": "Urdu Version",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
